.min-width-180 {
    min-width: 180px !important;
}

.mr-1 {
    margin-right: 1rem !important;
}
.mr-2 {
    margin-right: 2rem !important;
}
.mr-3 {
    margin-right: 3rem !important;
}
.mr-4 {
    margin-right: 4rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}
.mt-2 {
    margin-top: 2rem !important;
}
.mt-3 {
    margin-top: 3rem !important;
}
.mt-4 {
    margin-top: 4rem !important;
}