.app-container {
    height: 100% !important;
}

.app-sidebar {
    border-radius: 0px !important;
    height: 100% !important;
}

.app-content {
    /* 15rem is width of menu sidebar */
    margin-left: 15rem;
    height: 100%;
    overflow: auto;
}

.no-mt {
    margin-top: 0px !important;
}

.app-content > .segment {
    border-radius: 0px !important;
}


.segment.welcome-page  {
    padding: 20px !important;
    margin: 0px !important;
    margin-top: 70px !important;
    outline: none !important;
    border: none !important;
}
.segment.welcome-page .steps.first {
    margin-top: 40px !important;
}

.tab.segment > h2.header {
    padding-bottom: 15px !important;
    border-bottom: 0.8px solid #f0f0f0;
}