.app-container {
    height: 100% !important;
}

.app-sidebar {
    border-radius: 0px !important;
    height: 100% !important;
}

.app-content {
    /* 15rem is width of menu sidebar */
    margin-left: 15rem;
}

.no-mt {
    margin-top: 0px !important;
}

.app-content > .segment {
    border-radius: 0px !important;
}