<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>File Encryption | Dashboard</title>

  <link rel="stylesheet" href="../node_modules/semantic-ui-css/semantic.min.css">
  <link rel="stylesheet" href="../css/_common.css">
  <link rel="stylesheet" href="../css/dashboard.css">
</head>

<body>

  <div class="ui app-container">

    <!-- Menu Sidebar -->
    <div class="ui vertical fixed left menu inverted app-sidebar">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>

      <div class="item">
        <img class="ui circular middle aligned image" src="../assets/img/Panda-icon.png" width="50"
          style="border: 1.5px solid white">
        <span style="margin-left: 8px; font-size: 18px; font-weight: 800">
          Your Name
        </span>
      </div>

      <!-- add class `active` to default tab -->
      <a class="item" data-tab="encrypt">
        <i class="lock icon"></i> Encryption
      </a>
      <a class="item" data-tab="decrypt">
        <i class="unlock alternate icon"></i> Decryption
      </a>
      <a class="item" data-tab="files">
        <i class="desktop icon"></i> File Manager
      </a>
      <a class="item" data-tab="notis">
        <i class="bullhorn icon"></i> Notifications
      </a>
      <a class="item" data-tab="exts">
        <i class="puzzle piece icon"></i> Extensions
      </a>

      <a class="item" data-tab="share">
        <i class="share square outline icon"></i> Share Now
      </a>
      <div class="ui dropdown item">
        Settings
        <i class="setting icon"></i>
        <div class="menu">
          <a class="item" data-tab="profile"><i class="edit icon"></i> Edit Profile</a>
          <a class="item" data-tab="lang"><i class="globe icon"></i> Choose Language</a>
          <a class="item" data-tab="acc"><i class="settings icon"></i> Account Settings</a>
          <div class="divider"></div>
          <div class="item" id="btn-logout"
            style="background-color: rgb(218, 3, 3) !important; color: white !important">
            <i class="sign out alternate icon"></i> Logout
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui labeled fluid button" tabindex="0">
          <div class="ui red button fluid full-width">
            <i class="heart icon"></i> Like
          </div>
          <a class="ui basic red left pointing label">
            4.260
          </a>
        </div>
      </div>
    </div>
    <!-- End app-sidebar -->



    <!-- Content -->
    <div class="app-content">

      <!-- Welcome page - active to default tab -->
      <div class="ui right tab segment active no-mt welcome-page">
        <h2 class="ui center aligned icon header">
          <i class="fort awesome icon" style="margin-bottom: 20px !important"></i>
          Welcome to File Encryption
        </h2>

        <div class="ui three steps first">
          <div class="step">
            <i class="lock red icon"></i>
            <div class="content">
              <div class="title">Encryption</div>
              <div class="description"></div>
            </div>
          </div>
          <div class="step">
            <i class="unlock orange alternate icon"></i>
            <div class="content">
              <div class="title">Decryption</div>
              <div class="description"></div>
            </div>
          </div>
          <div class="step">
            <i class="desktop yellow icon"></i>
            <div class="content">
              <div class="title">File Manager</div>
              <div class="description"></div>
            </div>
          </div>
        </div>
        <div class="ui three steps">
          <div class="step">
            <i class="bullhorn violet icon"></i>
            <div class="content">
              <div class="title">Notifications</div>
              <div class="description"></div>
            </div>
          </div>
          <div class="step">
            <i class="puzzle piece purple icon"></i>
            <div class="content">
              <div class="title">Extensions</div>
              <div class="description"></div>
            </div>
          </div>
          <div class="step">
            <i class="share square outline pink icon"></i>
            <div class="content">
              <div class="title">Share Now</div>
              <div class="description"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Encryption -->
      <div class="ui right tab segment no-mt" data-tab="encrypt">
        <h2 class="ui header">
          <i class="lock icon"></i>
          <div class="content">
            Encryption
            <div class="sub header">Encrypt your files or folders with secret key.</div>
          </div>
        </h2>

        <div class="ui grid">
          <!-- Left -->
          <div class="nine wide column">
            <!-- Choose files -->
            <h3 class="ui header mt-1">Choose files</h3>
            <div class="ui action fluid input">
              <select class="ui compact selection dropdown min-width-180" id="select-raw-file">
                <option value="one" selected>One File</option>
                <option value="multiple">Multiple Files</option>
                <option value="folder">One Folder</option>
              </select>
              <label for="raw-file" class="ui icon red button">
                <i class="upload icon"></i><span class="mr-1"></span>
                Browse
              </label>
              <!-- One File -->
              <input type="file" id="raw-file" style="display: none">
              <!-- Multiple Files -->
              <!-- <input type="file" id="raw-file" multiple style="display: none"> -->
              <!-- One Folder -->
              <!-- <input type="file" id="raw-file" directory webkitdirectory mozdirectory style="display: none"> -->
            </div>



            <!-- Algorithms -->
            <h3 class="ui header mt-3">Choose algorithm</h3>
            <div class="ui floating fluid dropdown labeled icon red basic button" id="dropdown-algo">
              <i class="filter icon"></i>
              <span class="text">Select one</span>
              <div class="menu">
                <div class="ui icon search input">
                  <i class="search icon"></i>
                  <input type="text" placeholder="Search algorithm...">
                </div>
                <div class="divider"></div>
                <div class="header">
                  <i class="tags icon"></i>
                  Symmetric Cryptography
                </div>
                <div class="scrolling menu">
                  <div class="item" data-algo="aes-256-cbc">
                    <div class="ui red empty circular label"></div>
                    AES (Advanced Encryption Standard)
                  </div>
                  <div class="item" data-algo="des">
                    <div class="ui blue empty circular label"></div>
                    DES (Data Encryption Standard)
                  </div>
                  <div class="item" data-algo="rc4">
                    <div class="ui green empty circular label"></div>
                    RC4 (Rivest Cipher 4)
                  </div>
                </div>
                <div class="header">
                  <i class="tags icon"></i>
                  Asymmetric Cryptography
                </div>
                <div class="scrolling menu">
                  <div class="item" data-algo="rsa">
                    <div class="ui orange empty circular label"></div>
                    RSA (Rivest–Shamir–Adleman)
                  </div>
                </div>
              </div>
            </div>

            <!-- Password -->
            <h3 class="ui header mt-3">Choose passphrase</h3>
            <div class="ui left icon fluid action input">
              <input type="password" placeholder="Your passphrase..." id="inp-enc-pass">
              <i class="key icon"></i>
              <button class="ui icon button" id="btn-visible">
                <i class="eye icon"></i>
              </button>
            </div>

            <!-- Output directory -->
            <h3 class="ui header mt-3">Select output directory</h3>
            <div class="ui action fluid input">
              <input type="text" id="out-dir-path" readonly>
              <label for="out-dir" class="ui icon blue button">
                <i class="folder open icon"></i><span class="mr-1"></span>
                Browse
              </label>
              <!-- One Folder -->
              <input type="file" id="out-dir" directory webkitdirectory mozdirectory style="display: none">
            </div>

            <!-- Options -->
            <h3 class="ui header mt-3">Options</h3>
            <div class="field">
              <div class="ui toggle checkbox">
                <input type="checkbox" name="gift" tabindex="0" class="hidden">
                <label>Store the key file</label>
              </div>
            </div>

            <!-- Buttons -->
            <div class="ui fluid buttons mt-4">
              <button class="ui orange button" id="btnViewKey">
                View key
              </button>
              <div class="or"></div>
              <button class="ui green button" id="btnEncrypt">Encrypt</button>
            </div>
          </div>
          <!-- End Left -->

          <!-- Right -->
          <div class="seven wide column">
            <!-- List files -->
            <div class="ui list mt-1" id="list-files">
            </div>
          </div>
        </div>
      </div>

      <!-- Decryption -->
      <div class="ui right tab segment no-mt" data-tab="decrypt">
        <h2 class="ui header">
          <i class="unlock alternate icon"></i>
          <div class="content">
            Decryption
            <div class="sub header">Decrypt your files or folders with secret key.</div>
          </div>
        </h2>

        <div class="ui grid">
          <!-- Left -->
          <div class="eight wide column">
            <!-- Encrypted File -->
            <h3 class="ui header mt-1">Choose encrypted file</h3>
            <div class="ui action fluid input">
              <input type="text" id="out-dir-decrypt-path" readonly>
              <label for="encrypted-file" class="ui icon red button">
                <i class="upload icon"></i><span class="mr-1"></span>
                Browse
              </label>
              <!-- One Folder -->
              <input type="file" id="encrypted-file" directory webkitdirectory mozdirectory style="display: none">
            </div>
          </div>
          <!-- End Left -->

          <!-- Right -->
          <div class="eight wide column">
            <!-- Output directory -->
            <h3 class="ui header mt-1">Select output directory</h3>
            <div class="ui action fluid input">
              <input type="text" id="out-dir-decrypt-path" readonly>
              <label for="out-dir-decrypt" class="ui icon blue button">
                <i class="folder open icon"></i><span class="mr-1"></span>
                Browse
              </label>
              <!-- One File -->
              <input type="file" id="out-dir-decrypt" style="display: none">
            </div>
          </div>
          <!-- End Right -->
        </div>
        <!-- End Grid -->

        <h3 class="ui header mt-2">Decyption</h3>
        <div class="ui placeholder segment">
          <div class="ui two column stackable center aligned grid">
            <div class="ui vertical divider">Or</div>
            <div class="middle aligned row">
              <!-- Left - Use Password -->
              <div class="column">
                <div class="ui icon header">
                  <i class="text width icon pink"></i>
                  Use Passphrase
                </div>
                <div class="ui left icon fluid action input">
                  <input type="password" placeholder="Your passphrase..." id="inp-decrypt-pass">
                  <i class="key icon"></i>
                  <button class="ui icon button" id="btn-visible-decrypt">
                    <i class="eye icon"></i>
                  </button>
                </div>

                <div class="ui animated pink fade button mt-2" tabindex="0" id="btn-start">
                  <div class="visible content">Decrypt with Passphrase</div>
                  <div class="hidden content">
                    <i class="recycle arrow icon"></i>
                  </div>
                </div>
              </div>
              <!-- Right - Use Key File -->
              <div class="column">
                <div class="ui icon header">
                  <i class="key icon orange"></i>
                  Use Key File
                </div>
                <div class="ui action fluid input">
                  <input type="text" id="out-dir-decrypt-path" readonly>
                  <label for="key-file" class="ui icon orange button">
                    <i class="hand point left icon"></i><span class="mr-1"></span>
                  </label>
                  <!-- One File -->
                  <input type="file" id="key-file" style="display: none">
                </div>
                <div class="ui animated orange fade button mt-2" tabindex="0" id="btn-start">
                  <div class="visible content">Decrypt with Key File</div>
                  <div class="hidden content">
                    <i class="recycle icon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- File Manager -->
      <div class="ui right tab segment no-mt" data-tab="files">
        <h2 class="ui header">
          <i class="desktop icon"></i>
          <div class="content">
            File Manager
            <div class="sub header">Manage your encrypted files and keys</div>
          </div>
        </h2>
      </div>

      <!-- Notification -->
      <div class="ui right tab segment no-mt" data-tab="notis">
        <h2 class="ui header">
          <i class="bullhorn icon"></i>
          <div class="content">
            Notifications
            <div class="sub header">Manage your notifications</div>
          </div>
        </h2>
      </div>


      <!-- Extensions -->
      <div class="ui right tab segment no-mt" data-tab="exts">
        <h2 class="ui header">
          <i class="puzzle piece icon"></i>
          <div class="content">
            Extensions
            <div class="sub header">Check out our plug-in marketplace.</div>
          </div>
        </h2>
      </div>


      <!-- Sharing -->
      <div class="ui right tab segment no-mt" data-tab="share">
        <h2 class="ui header">
          <i class="share square outline icon"></i>
          <div class="content">
            Sharing
            <div class="sub header">Send our loves to your friends.</div>
          </div>
        </h2>
      </div>


      <!-- Edit Profile -->
      <div class="ui right tab segment no-mt" data-tab="profile">
        <h2 class="ui header">
          <i class="edit icon"></i>
          <div class="content">
            Edit Profile
            <div class="sub header">Change your profile.</div>
          </div>
        </h2>
      </div>


      <!-- Choose Language -->
      <div class="ui right tab segment no-mt" data-tab="lang">
        <h2 class="ui header">
          <i class="globe icon"></i>
          <div class="content">
            Choose Language
            <div class="sub header">Select your favorite language.</div>
          </div>
        </h2>
      </div>


      <!-- Account Settings -->
      <div class="ui right tab segment no-mt" data-tab="acc">
        <h2 class="ui header">
          <i class="settings icon"></i>
          <div class="content">
            Account Settings
            <div class="sub header">Manage your preferences.</div>
          </div>
        </h2>
      </div>


    </div>
    <!-- End app-content -->

  </div>
  <!-- End app-container -->

  <!-- Alert -->
  <div class="ui mini modal" id="modal-alert">
    <div class="header" id="alert-title">[Title]</div>
    <div class="content" style="font-size: 16px">
      <p id="alert-message">[Message]</p>
    </div>
    <div class="actions">
      <div class="ui red ok button">OK</div>
    </div>
  </div>

  <!-- Confirm -->
  <div class="ui mini modal" id="modal-confirm">
    <div class="header" id="confirm-title">[Title]</div>
    <div class="content" style="font-size: 16px">
      <p id="confirm-message">[Message]</p>
    </div>
    <div class="actions">
      <div class="ui button cancel green">Cancel</div>
      <div class="ui red ok button">OK</div>
    </div>
  </div>

  <!-- Loading -->
  <div class="ui page dimmer" id="app-loading">
    <div class="content">
      <div class="ui active dimmer">
        <div class="ui indeterminate text loader">Loading</div>
      </div>
    </div>
  </div>

  <script>
    require('../js/dashboard.js')
  </script>
</body>

</html>