<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>File Encryption | Dashboard</title>

  <link rel="stylesheet" href="../node_modules/semantic-ui-css/semantic.min.css">
  <link rel="stylesheet" href="../css/_common.css">
  <link rel="stylesheet" href="../css/dashboard.css">
</head>

<body>

  <div class="ui app-container">
    <!-- Menu Sidebar -->
    <div class="ui vertical fixed left menu inverted app-sidebar">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>

      <div class="item">
        <img class="ui circular middle aligned image" src="../assets/img/Panda-icon.png" width="50"
          style="border: 1.5px solid white">
        <span style="margin-left: 8px; font-size: 18px; font-weight: 800">
          Your Name
        </span>
      </div>

      <a class="item active" data-tab="encrypt">
        <i class="lock icon"></i> Encryption
      </a>
      <a class="item" data-tab="decrypt">
        <i class="unlock alternate icon"></i> Decryption
      </a>
      <a class="item" data-tab="files">
        <i class="desktop icon"></i> File Manager
      </a>
      <a class="item" data-tab="notis">
        <i class="bullhorn icon"></i> Notifications
      </a>
      <a class="item" data-tab="exts">
        <i class="puzzle piece icon"></i> Extensions
      </a>

      <a class="item" data-tab="share">
        <i class="share square outline icon"></i> Share Now
      </a>
      <div class="ui dropdown item">
        Settings
        <i class="setting icon"></i>
        <div class="menu">
          <a class="item"><i class="edit icon"></i> Edit Profile</a>
          <a class="item"><i class="globe icon"></i> Choose Language</a>
          <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
      </div>
      <div class="item">
        <div class="ui labeled fluid button" tabindex="0">
          <div class="ui red button fluid full-width">
            <i class="heart icon"></i> Like
          </div>
          <a class="ui basic red left pointing label">
            4.260
          </a>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="app-content">
      <div class="ui right tab segment active no-mt" data-tab="encrypt">
        Encrypt
      </div>
      <div class="ui right tab segment no-mt" data-tab="decrypt">
        Decrypt
      </div>
      <div class="ui right tab segment no-mt" data-tab="files">
        File Manager
      </div>
      <div class="ui right tab segment no-mt" data-tab="notis">
        Notifications
      </div>
      <div class="ui right tab segment no-mt" data-tab="exts">
        Extensions
      </div>
      <div class="ui right tab segment no-mt" data-tab="share">
        Sharing
      </div>
    </div>

  </div>

  <div class="ui page dimmer" id="app-loading">
    <div class="content">
      <div class="ui active dimmer">
        <div class="ui indeterminate text loader">Loading</div>
      </div>
    </div>
  </div>


  <script>
    require('../js/dashboard.js')
  </script>
</body>

</html>