<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>File Encryption | Login</title>

  <link rel="stylesheet" href="../node_modules/semantic-ui-css/semantic.min.css">
  <link rel="stylesheet" href="../css/login.css">
</head>

<body>

  <button type="button" class="ui inverted basic button app-btn-back" id="btn-back">
    <i class="angle left icon"></i>
    Back
  </button>

  <div class="ui container app-container">
    <div class="ui placeholder segment">
      <div class="ui two column stackable center aligned grid">
        <div class="ui vertical divider">Or</div>
        <div class="middle aligned row">
          <div class="column">
            <div class="ui equal width form">
              <div class="field">
                <div class="ui fluid left icon input">
                  <input type="text" placeholder="Username">
                  <i class="user icon"></i>
                </div>
              </div>
              <div class="field">
                <div class="ui fluid left icon input">
                  <input type="password" placeholder="Password">
                  <i class="lock icon"></i>
                </div>
              </div>
              <!-- this empty field made form wider -->
              <div class="field" style="min-width: 300px;"></div>
              <div class="ui animated blue submit fade button" tabindex="0" id="btn-login">
                <div class="visible content">Login</div>
                <div class="hidden content">
                  <i class="sign in alternate icon"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="sync alternate icon red"></i>
              Create a new account
            </div>
            <div class="ui animated red fade button" tabindex="0" id="btn-to-form-signup">
              <div class="visible content">Sign Up Now</div>
              <div class="hidden content">
                FREE
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script>
    require('../js/login.js')
  </script>
</body>

</html>